*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    padding: 0 5%;
}
h1{
    background-color: #2979ff ;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
div.conteudo{
    padding: 20px 20px;
}
li{
    margin-top: 40px;
    background-color: #ccc;
    border-radius: 10px;
    padding: 20px;
}
h2{
    padding: 20px 10px;
    color: #444;
}
p{
    padding: 10px;
    color: #666;
}